*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
Config.txt
SplitApk.iml
aapt.exe
apktool.jar
ks2.keystore
out/
public-duck_pack.apk
